<div id="<%= dom_id category %>" class="mx-1 my-3 bg-white divide-y" >

  <div class="w-full flex">
    <img src="<%= category.image %>" class="p-5 h-32"></img>
    <p class="p-5">
      <%= category.name %>
    </p>
  </div>

  <div class="w-full flex justify-between">
  <p class="p-5">TOTAL PAYMENT</p>
  <p class="p-5">$<%= calculate_total_amount(category) %></p>
  </div>

  <div class="w-full">
  <% category.categorizations.each do |categorization| %> 
    <div class="flex justify-between">
      <p class="p-5">
        <%= categorization.categorized_transaction.name %>
      </p>
      <p class="p-5">$<%= categorization.categorized_transaction.amount %></p>
    </div>
  <% end %>
  </div>

</div>
