<%= form_with(model: [@category, transaction], html: { class: "bg-customGray-100 h-screen" }) do |form| %>
  <header>
    <nav class="bg-gradient-to-b from-customBlue to-customBlueDark">
      <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
        <div class="relative flex h-16 items-center justify-between big">

          <%= link_to category_path(@category), class: 'block' do %>
            <%= image_tag('icons/arrow_left.svg', class: 'w-6 h-6 sm:hidden') %>
          <% end %>

          <div class="absolute inset-y-0 left-1/2 transform -translate-x-1/2 flex items-center justify-center sm:hidden">
            <span class="text-white text-lg font-medium">NEW TRANSACTION</span>
          </div>

          <div class="actions text-white">
            <%= form.submit "Next" %>
          </div>

        </div>
      </div>
    </nav>
  </header>
  <% if transaction.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
        <% transaction.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :user_id, value: current_user.id %>

  <div class="bg-white mt-5 divide-y border-2">

    <div>
      <%= form.text_field :name, class: "w-full border-none p-3", placeholder: "Name" %>
    </div>

    <div>
      <%= form.number_field :amount, class: "w-full border-none p-3", placeholder: "Amount" %>
    </div>

    <div class="p-3 flex flex-col">
    <%= form.label :categories, "Categories", class: "text-center" %>
    <div">
    <% @categories.each do |category| %>
      <label class="p-2">
        <%= check_box_tag 'transaction[category_ids][]', category.id %>
        <%= category.name %>
      </label>
    <% end %>
    </div>
    </div>
  </div>

<% end %>
